* {
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk";
}

.container {
    min-height: 100vh;
    justify-items: center;
    align-content: center;
}

select,
::picker(select){
    appearance: base-select;
}

select {
    background-color: darkcyan;
    color: white;
    padding: .75rem 1.5rem;
    border: 0px;
}

select::picker-icon {
    transition: transform .1s ease-in-out;
}

select:open::picker-icon {
    transform: rotate(-90deg)
}

::picker(select) {
    border-radius: 0.25rem;
    border-color: darkcyan;
    margin-top: 0.25rem;
    padding-block: .25rem;
}

option {
    padding: .5rem 1rem;
    color: darkcyan;
    font-weight: bold;
}

option:checked {
    background-color: darkcyan;
    color: white;
}

option::checkmark {
    content: uri("data:image/svg+xml,%3Csvg%20width%3D24%20height%3D24%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3DcurrentColor%20d%3D%22M12%202C6.48%202%202%206.48%202%2012s4.48%2010%2010%2010s10-4.48%2010-10S17.52%202%2012%202m-2%2015l-5-5l1.41-1.41L10%2014.17l7.59-7.59L19%208z%22%2F%3E%3C%2Fsvg%3E")
}

::picker(select) {
    opacity: 0;
    bottom: calc(anchor(top) + 5px);
    transition: all .3s allow-discrete;
}

::picker(select):popover-open {
    opacity: 1;
}